%h2 Notes

%table
  %thead
    %tr
      %th Name
      %th Note category
      %th
      %th

  %tbody
    - @notes.each do |note|
      %tr
        %td= link_to note.name, note
        %td= note.note_category.name
        %td= link_to 'Edit', edit_note_path(note)
        %td= link_to 'Delete', note, method: :delete, data: { confirm: 'Are you sure?' }

= link_to 'New Note', new_note_path
