= form_for @note_category do |f|
  - if @note_category.errors.any?
    #error_explanation
      %h2= "#{pluralize(@note_category.errors.count, "error")} prohibited this note_category from being saved:"
      %ul
        - @note_category.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :name
    = f.text_field :name
  .actions
    = f.submit 'Save'
